@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wavefont:wght@100&display=swap');

body {
    text-align: center;
    font-family: 'Black Ops One', cursive;
    background-image: url(img/dalmatian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background-color: azure,;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

label {
    color: rgb(0, 0, 0);
    display: block;
}

input {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#success-msg {
    color: rgb(255, 153, 0);
    display: none;
}

#dog-image {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: none;
}

form {
    background-color: rgba(230, 230, 168, 0.8);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

#btnsave {
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnsave:hover {
    background-color: #ff6600;
}
